In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn


from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import accuracy_score 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve, f1_score, accuracy_score, recall_score, precision_score
import pickle

In [2]:
df = pd.read_excel('Data Awal.xlsx')
df.drop(columns=['Nama', 'Email', 'Alamat Domisili', 'Provinsi Domisili', 'Kecamatan Domisili', 'Kelurahan Domisili', 'Alamat Ktp', 'Provinsi Ktp', 'Kota Ktp', 'Kecamatan Ktp', 'Kelurahan Ktp', 'Tempat Lahir', 'Tanggal Lahir', 'Telp 1', 'Telp 2', 'Institut Pendidikan', 'Bidang Pendidikan', 'Tahun Lulus', 'Nilai Akhir', 'Level', 'Waktu Daftar', 'Tanggal Daftar', 'Bulan Daftar', 'Status', 'Tahun Daftar', 'Gaji Yang Diharapkan', 'Jenis Kelamin', 'Agama'], inplace=True)
df.head()

,Kota Domisili,Usia,Tingkat Pendidikan,Posisi Yang Dilamar,Pengalaman Pekerjaan,Status Kelengkapan,Tahapan
0,Kota Jakarta Pusat,24.0,S1,Telemarketing,Ada,Lengkap,Tolak
1,Kota Depok,22.0,S1,Telemarketing,Ada,Tidak Lengkap,Tolak
2,Kota Tangerang Selatan,24.0,S1,Telemarketing,Ada,Lengkap,Diajukan
3,Kab. Tangerang,25.0,SMA/SMK,Telesales,Ada,Lengkap,Diajukan
4,Kota Tangerang Selatan,24.0,SMA/SMK,Sales Marketing,Ada,Lengkap,Diajukan

In [3]:
df['Usia'] = df['Usia'].replace((19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 25.055307760927743, 26.0, 27.0, 28.0, 29.0, 30.0,), '<30')
df['Usia'] = df['Usia'].replace((31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 51.0), '>30')

df['Usia']

0       <30
1       <30
2       <30
3       <30
4       <30
       ...
1150    <30
1151    <30
1152    <30
1153    <30
1154    <30
Name: Usia, Length: 1155, dtype: object

In [4]:
df['Kota Domisili'] = df['Kota Domisili'].replace(('Kota Tangerang Selatan', 'Kota Tangerang', 'Kab. Tangerang'), 'Wilayah Tangerang')
df['Kota Domisili'] = df['Kota Domisili'].replace(('Kota Depok', 'Kota Jakarta Selatan', 'Kota Jakarta Timur',
       'Kota Jakarta Barat', 'Kota Bekasi', 'Kab. Bogor', 'Kota Bogor',
       'Kota Jakarta Pusat', 'Kota Jakarta Utara', 'Kab. Lebak',
       'Kota Surabaya', 'Kab. Kediri', 'Kab. Sleman', 'Kota Semarang',
       'Kab. Bekasi', 'Kota Makassar', 'Kota Sukabumi', 'Kab. Sumedang',
       'Kab. Purbalingga', 'Kab. Bandung Barat', 'Kab. Bantul',
       'Kota Magelang', 'Kota Kediri', 'Kab. Sukoharjo', 'Kota Bandung',
       'Kota Palembang', 'Kab. Sukabumi', 'Kab. Cilacap', 'Kota Cilegon',
       'Kab. Lampung Barat', 'Kab. Gresik', 'Kota Serang', 'Kab. Banyuwangi',
       'Kab. Garut', 'Kab. Wonogiri', 'Kab. Karawang', 'Kab. Padang Pariaman',
       'Kab. Probolinggo', 'Kab. Indramayu', 'Kota Malang',
       'Kab. Lombok Tengah', 'Kab. Demak', 'Kota Bandar Lampung',
       'Kab. Magetan', 'Kab. Kapuas', 'Kota Padang', 'Kota Palu',
       'Kota Pekanbaru', 'Kab. Ponorogo', 'Kota Samarinda',
       'Kab. Lampung Timur', 'Kota Denpasar', 'Kab. Boyolali', 'Kota Manado',
       'Kab. Gunung Kidul', 'Kab. Pandeglang', 'Kota Cirebon',
       'Kota Yogyakarta', 'Kab. Deli Serdang', 'Kab. Banyumas', 'Kab. Lebong'), 'Luar Wilayah Tangerang')

df['Kota Domisili']

0       Luar Wilayah Tangerang
1       Luar Wilayah Tangerang
2            Wilayah Tangerang
3            Wilayah Tangerang
4            Wilayah Tangerang
                 ...
1150         Wilayah Tangerang
1151         Wilayah Tangerang
1152    Luar Wilayah Tangerang
1153    Luar Wilayah Tangerang
1154    Luar Wilayah Tangerang
Name: Kota Domisili, Length: 1155, dtype: object

In [5]:
X = df.drop(columns='Tahapan')
y = df.Tahapan

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, stratify=y, random_state = 42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((808, 6), (347, 6), (808,), (347,))

In [6]:
from jcopml.pipeline import num_pipe, cat_pipe
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [7]:
preprocessor = ColumnTransformer([
    ('categoric', cat_pipe(encoder="ordinal"), ['Kota Domisili', 'Usia', 'Tingkat Pendidikan', 'Posisi Yang Dilamar',
       'Pengalaman Pekerjaan', 'Status Kelengkapan'])
])

In [8]:
pipeline = Pipeline([
    ('prep', preprocessor),
    ('rfc', RandomForestClassifier())    
])

In [9]:
parameter = { 
    'rfc__n_estimators': [50, 100, 200, 300],
    'rfc__max_features': ['auto', 'sqrt', 'log2'],
    'rfc__max_depth' : [4,5,6,7,8],
    'rfc__criterion' :['entropy', 'gini']    
}

In [10]:
model = GridSearchCV(pipeline, param_grid=parameter, cv= 5, n_jobs=-1, verbose=1)
model.fit(X_train, y_train)

Fitting 5 folds for each of 120 candidates, totalling 600 fits

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('prep',
                                        ColumnTransformer(transformers=[('categoric',
                                                                         Pipeline(steps=[('imputer',
                                                                                          SimpleImputer(strategy='most_frequent')),
                                                                                         ('ordinal',
                                                                                          OrdinalEncoder())]),
                                                                         ['Kota '
                                                                          'Domisili',
                                                                          'Usia',
                                                                          'Tingkat '
                                                                          'Pendidikan',
                                                                          'Posisi '
                                                                          'Yang '
                                                                          'Dilamar',
                                                                          'Pengalaman '
                                                                          'Pekerjaan',
                                                                          'Status '
                                                                          'Kelengkapan'])])),
                                       ('rfc', RandomForestClassifier())]),
             n_jobs=-1,
             param_grid={'rfc__criterion': ['entropy', 'gini'],
                         'rfc__max_depth': [4, 5, 6, 7, 8],
                         'rfc__max_features': ['auto', 'sqrt', 'log2'],
                         'rfc__n_estimators': [50, 100, 200, 300]},
             verbose=1)

In [11]:
print(model.best_params_)
print(model.score(X_train, y_train), model.best_score_, model.score(X_test, y_test))

{'rfc__criterion': 'entropy', 'rfc__max_depth': 4, 'rfc__max_features': 'auto', 'rfc__n_estimators': 50}
0.9603960396039604 0.9603941415535617 0.9567723342939481

In [12]:
X_pred = pd.DataFrame(df, index=[0, 1], columns=X.columns)
X_pred

,Kota Domisili,Usia,Tingkat Pendidikan,Posisi Yang Dilamar,Pengalaman Pekerjaan,Status Kelengkapan
0,Luar Wilayah Tangerang,<30,S1,Telemarketing,Ada,Lengkap
1,Luar Wilayah Tangerang,<30,S1,Telemarketing,Ada,Tidak Lengkap

In [13]:
model.predict(X_pred)

array(['Tolak', 'Tolak'], dtype=object)

In [14]:
X_pred["Tahapan"] = model.predict(X_pred)
X_pred

,Kota Domisili,Usia,Tingkat Pendidikan,Posisi Yang Dilamar,Pengalaman Pekerjaan,Status Kelengkapan,Tahapan
0,Luar Wilayah Tangerang,<30,S1,Telemarketing,Ada,Lengkap,Tolak
1,Luar Wilayah Tangerang,<30,S1,Telemarketing,Ada,Tidak Lengkap,Tolak

In [28]:
from jcopml.utils import save_model
from jcopml.utils import load_model

In [29]:
save_model(model, "model_datapelamar.pkl")

Model is pickled as model/model_datapelamar.pkl

In [30]:
model = load_model("model/model_datapelamar.pkl")

In [31]:
model.predict(X_pred)

array(['Tolak', 'Tolak'], dtype=object)